<mat-list>
    <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
      <mat-icon>home</mat-icon> Dashboard
    </mat-list-item>
    <mat-list-item routerLink="{{routes.ACCOUNTS}}" routerLinkActive="active">
      <mat-icon>text_fields</mat-icon> Cuentas
    </mat-list-item>
    <mat-list-item routerLink="{{routes.MODULES}}" routerLinkActive="active">
      <mat-icon>border_all</mat-icon> Modulos
    </mat-list-item>
    <mat-list-item routerLink="{{routes.DEPENDENCIES}}" routerLinkActive="active">
      <mat-icon>notifications_none</mat-icon> Salas
    </mat-list-item>
  </mat-list>