<app-layout>
    <ejs-schedule
        #scheduleObj
        [eventSettings]='eventSettings'
        [timeScale]="timeScale"
        [views]="scheduleViews"
        width='auto'
        height='100%'
        [readonly] = "isReadOnly"
        (popupOpen)="onPopupOpen($event)"
    >

        <ng-template #quickInfoTemplatesHeader let-data> 
            <div *ngIf="data.elementType == 'cell' || data.elementType == 'event'"> 
                <div class="e-popup-header"> 
                    <div class="e-header-icon-wrapper"> 
                        <div class="headerContainer">
                            <div class="buttonDiv">
                                <button mat-fab color="warn" class="but" (click)="registerEvent($event)">
                                    <fa-icon [icon]="faPencilAlt" ></fa-icon>
                                  </button>
                            </div>
                            <div class="subjectDiv">
                                <h2>
                                    {{data.Subject}}
                                </h2>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> 
        </ng-template> 
    </ejs-schedule>
</app-layout>